.button{
	-fx-text-alignment: center;
	-fx-background-color: radial-gradient(radius 100%, #a3cee6, #CADFFF);

}

.TextField{
	-fx-background-color: #f09de5;
}

.button:hover{
	-fx-background-color: radial-gradient(radius 100%, #628FC6, #A7C2D6);
}

.button:pressed{
	-fx-background-color: #537236;
}

#boitePrincipale{
	-fx-background-color: #011f1c;
}

#boutonPlus, #boutonMoins, #boutonFois, #boutonDiv{
	-fx-background-color: #2263b8;
}
